*.egg-info/
*.py[cod]
*.sw[op]
.coverage
.DS_Store
.envrc
.hypothesis/
.mypy_cache/
.pytest_cache/
.pyright/
.ruff_cache/
.venv/
__pycache__/
build/
dist/
docs/_build/
htmlcov/
node_modules/
src/leika/client/.leika-build.lock
src/leika/client/.nodeenv/
src/leika/client/build/
test-results/
uv.lock
